<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.oasis.model.dao.FollowDao">
	
	<!-- 팔로잉 조회 -->
	<select id="selectFollowings" parameterType="int" resultType="int">
		SELECT following_id FROM follow
		WHERE follower_id = #{id}
	</select>
	
	<!-- 팔로잉 -->
	<insert id="insertFollow" parameterType="Follow">
		INSERT INTO follow (following_id, follower_id)
		VALUES (#{followingId}, #{followerId})
	</insert>
	
	<!-- 팔로워 조회 -->
	<select id="selectFollowers" parameterType="int" resultType="int">
		SELECT follower_id FROM follow
		WHERE following_id = #{id}
	</select>
	
	<!-- 팔로잉 끊기 -->
	<delete id="deleteFollow" parameterType="Follow">
		DELETE FROM follow
		WHERE following_id = #{followingId} AND follower_id = #{followerId}
	</delete>
</mapper>