<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.oasis.model.dao.ImageDao">
	
	<select id="selectAll" resultType="Image" parameterType="int">
		SELECT *
		FROM image
		WHERE board_id = #{boardId};
	</select>
	
	<select id="selectOne" resultType="Image" parameterType="int">
		SELECT *
		FROM image
		WHERE board_id = #{boardId}
		LIMIT 1;
	</select>
	
	<insert id="insertImage" parameterType="Image">
		INSERT INTO image (board_id, image_path)
		VALUES(#{boardId}, #{imagePath});
	</insert>
	
	<delete id="deleteImage" parameterType="int">
		DELETE FROM image
		WHERE image_id = #{imageId}
	</delete>
	
	 <delete id="deleteByPath" parameterType="string">
        DELETE FROM image WHERE image_path = #{imagePath}
    </delete>
	
</mapper>